@import url('https://use.typekit.net/lou4nne.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "myriad-pro", sans-serif;
}

:root {
    --background-color: #c6d9fa;
    --button-color: #6CC7ED;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* Style for the parent container */
#sec-button {
    display: flex;
    justify-content: center;   
    align-items: center;       
    position: relative;        
}

/* Style for the button */
#shop-button {
    background-color: var(--button-color);
    color: black;
    font-family: "aladin", sans-serif;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    z-index: 1; 
    margin-top: -30rem;
}

#shop-button:hover {
    background-color: #57a9cd;
    transition: 0.3s;
}
