@import url('https://use.typekit.net/lou4nne.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #c6d9fa;
    --button-color: #6CC7ED;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
}