@import url('https://use.typekit.net/lou4nne.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "myriad-pro", sans-serif;
}

:root {
    --background-color: #c6d9fa;
    --button-color: #6CC7ED;
}

video {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#shop-button {
    background-color: var(--button-color);
    color: black;
    font-family:"aladin", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

#shop-button:hover {
    background-color: #5eb7dd;
    transition: 0.3s;
}